[submodule "ext/SDC"]
	path = ext/SDC
	url = https://github.com/Iridescence-Technologies/Stardust-Celeste.git
[submodule "resourcepacks"]
	path = resourcepacks
	url = https://github.com/CrossCraft/CrossCraft-Resources.git
[submodule "Core"]
	path = Core
	url = git@github.com:CrossCraft/CC-Core.git
